body {
    margin: 0;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

canvas {
    border: 4px solid #fff;
    background-color: #3e8e41; /* Cor de grama temporária */
    image-rendering: pixelated; /* Mantém o estilo retro sem borrar */
}
